<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta property="og:image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{{url_for('static', filename='styles.css')}}" media="all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  </head>

<body>
	{% extends "bootstrap/base.html" %}
	{% import "bootstrap/wtf.html" as wtf%}
	{% block content %}
    <h2 ALIGN=CENTER style="color:#328adb; margin-top: 150px; margin-left:-25px;">
    Welcome, Steve!
    </h2>

    <div ALIGN=CENTER class="direction">
        Please specify what services you are looking for today.
    </div>

    <!--<div class="locationset">
        Use my current location
    </div>-->

    <!--<div class="languageset">
        ENGLISH
    </div>-->

    <!--<div class="dropdown" >-->

    <div ALIGN=CENTER><form method="POST">
	<input class="btn" type="submit" name="services" id="option1" value="Consumer Checking and Savings"></input>
	<input class="btn" type="submit" name="services" id="option2" value="Auto Loans"></input>
	<input class="btn" type="submit" name="services" id="option3" value="Credit Cards"></input>
	<input class="btn" type="submit" name="services" id="option4" value="Rewards"></input><br><br>
	<input class="btn" type="submit" name="services" id="option5" value="Retirement Planning"></input>
	<input class="btn" type="submit" name="services" id="option6" value="IRAs and 401(k)s"></input>
	<input class="btn" type="submit" name="services" id="option7" value="General Investing"></input>
	<input class="btn" type="submit" name="services" id="option8" value="College Planning"></input><br><br>
	<input class="btn" type="submit" name="services" id="option9" value="Mortgage Financing"></input>
	<input class="btn" type="submit" name="services" id="option10" value="Refinancing Home"></input>
	<input class="btn" type="submit" name="services" id="option11" value="Home Equity"></input><br><br>
	<input class="btn" type="submit" name="services" id="option12" value="Business Checking and Savings"></input>
	<input class="btn" type="submit" name="services" id="option13" value="Lending"></input>
	<input class="btn" type="submit" name="services" id="option14" value="Payroll"></input>
	<input class="btn" type="submit" name="services" id="option15" value="Merchant"></input>
	<input class="btn" type="submit" name="services" id="option16" value="Financing"></input><br>
	
	

	<!--<div ALIGN=CENTER class="form-group">{{ form.service }}</div>
	<div ALIGN=CENTER><button type="Submit" class="btn btn-primary">SUBMIT</button></div>-->
    </form></div>

    <!--</div>-->
     <script>
      $(".languageset").click(function(){
          $(".dropdown").toggleClass("dropview");
      });
      </script>


    <!--<a href="preferences.html">NEXT</a>-->
	{% endblock %}
</body>

</html>