<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
<body>

<div class="w3-container" style="font-family: 'Source Sans Pro', sans-serif; font-weight:300;">
  <h2 style="font-family: 'Source Sans Pro', sans-serif; font-size: 36px; font-weight:700; color: #0469c7; margin-left:25px;">Your Tellers</h2>
  <h4 style="font-family: 'Source Sans Pro', sans-serif; font-weight:300; margin-left:25px;"> Account: ************1945</h4>

  <div class="w3-bar-block">
  
  <!--<form method="POST">-->

  <button name="one" value='one' onclick="window.location.href='{{ url_for( 'index' ) }}';" class="w3-bar-item w3-button" style="width:100%">
  <div class="w3-card-4" style="width:100%;">
    <header class="w3-container">
      <h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight:600; color: #0469c7;">{{ teller_1_name }}</h1>
    </header>

    <div class="w3-container">
      <p><span style="font-weight:600;">Languages Spoken:</span> {{ teller_1_lang }}</p>
      <p><span style="font-weight:600;">Services:</span> {{ teller_1_serv }}</p>
	    <p><span style="font-weight:600;">Location:</span> {{ teller_1_loc }}</p>
    </div>
  </div>

  </button>

  <!--</form>

  <form method = "POST">-->

  <button name="two" onclick="window.location.href='{{ url_for( 'index' ) }}';" class="w3-bar-item w3-button" style="width:100%">
    <div class="w3-card-4" style="width:100%;">
    <header class="w3-container">
      <h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight:600; color: #0469c7;">{{ teller_2_name }}</h1>
    </header>

    <div class="w3-container">
      <p><span style="font-weight:600;">Languages Spoken:</span> {{ teller_2_lang }}</p>
      <p><span style="font-weight:600;">Services:</span> {{ teller_2_serv }}</p>
	    <p><span style="font-weight:600;">Location:</span> {{ teller_2_loc }}</p>
    </div>
   
  </div>

  </button>

  <!--</form>

  <form method = "POST">-->

  <button name="three" onclick="window.location.href='{{ url_for( 'index' ) }}';" class="w3-bar-item w3-button" style="width:100%"> 
    <div class="w3-card-4" style="width:100%;">
    <header class="w3-container">
      <h1 style="font-family: 'Source Sans Pro', sans-serif; font-weight:600; color: #0469c7;">{{ teller_3_name }}</h1>
    </header>

    <div class="w3-container">
      <p><span style="font-weight:600;">Languages Spoken:</span> {{ teller_3_lang }}</p>
	    <p><span style="font-weight:600;">Services:</span> {{ teller_3_serv }}</p>
	    <p><span style="font-weight:600;">Location:</span> {{ teller_3_loc }}</p>
    </div>
   
  </div>

  </button>

  <!--</form>-->

  </div>


</div>

</body>
</html>
