<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="" />
    <meta property="og:image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="styles.css" media="all" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  </head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
        <div><img id="profilepic" src="assets/jamarhill.png" style="border-radius:50%"></div>

    <h2>YOUR TELLER</h2>
    <div class="name">Jamar Hill</span></div>


    <div class="background">
        <div class="rating">
            <img id="star" src="assets/yellowstar.png">
            <div style="padding-left: 5px;">4.7</div>
        </div>
    </div>
    <div class="profile">
        <div class="branch">Branch:&ensp;<span style="font-weight:300;">Windfall</span></div>
        <div class="city">Location:&ensp;<span style="font-weight:300;">Spring Valley, NY</span></div>
        <div class="lang">Language(s):&ensp;<span style="font-weight:300;">English</span></div>
    </div>
    
    <br>
    <br>
    <h2>SPECIALIZATION</h2>
    <div class="skills">
        <div class="sk1" style="padding-top:10px;">GENERAL</div>
        <div class="sk1" style="padding-top:10px;">MORTGAGE</div>
        <div class="sk1" style="padding-top:10px;">SAVINGS</div>
    </div>

    <div class="backwash"></div>

    <div><img src="assets/call.png" style="width:75px; height:75px; position:absolute; right:25px; bottom: 25px;"></div>


</body>

</html>